@import "tailwindcss";

:root {
	--page-black: #101010;
	--page-grey: #262626;
	--page-white: #f5f5f5;
	--page-blue: #082b4b;
}

html {
	overflow-y: scroll;
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	width: 100vw;
	transition: 0.2s;
}
